<p>interfaces-main-page works!</p>
<div class="main-page">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="principal-content">
        <div class="principal-content-header">          
             
                  <a href="" class="card">
                    <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60108448d93c73801f3e8ef6_6002086f72b72704e901e452_web-design-inspiration.jpeg" class="card__image" alt=""  />
                    <div class="card__overlay">
                      <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                        <div class="card__header-text">
                        <div class="card__header-text" style="text-align: center;">
                            <h3 class="card__title">Interfaces Web de Salud</h3>            
                        </div>
                        </div>
                      </div>
                      <p class="card__description">Desarrollado por Marx Y Alonso</p>
                    </div>
                  </a>      
                       
        </div>        
        <p-divider></p-divider>

        <div>
          <nav class="slidemenu">
  
            <!-- Item 1 -->
            <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked (click)="changeViewTest(1)"/>
            <label for="slide-item-1"><p class="icon" ><i class="pi pi-calendar-plus"></i></p><span>Crear Cita</span></label>
            
            <!-- Item 2 -->
            <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" (click)="changeViewTest(2)"/>
            <label for="slide-item-2"><p class="icon"  ><i class="pi pi-calendar"></i></p><span>Consultar Cita</span></label>
            
            <!-- Item 3 -->
            <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle" (click)="changeViewTest(3)"/>
            <label for="slide-item-3"><p class="icon"><i class="pi pi-briefcase"></i></p><span>Especialidades</span></label>
            
            <!-- Item 4 -->
            <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle" (click)="changeViewTest(4)"/>
            <label for="slide-item-4"><p class="icon"><i class="pi pi-phone"></i></p><span>En Contacto</span></label>

             <!-- Item 4 -->
            <input type="radio" name="slideItem" id="slide-item-5" class="slide-toggle" (click)="changeViewTest(5)" />
            <label for="slide-item-5"><p class="icon"><i class="pi pi-comments"></i></p><span>Buzón de Sugerencias</span></label>

             <!-- Item 4 -->
             <input type="radio" name="slideItem" id="slide-item-6" class="slide-toggle" (click)="changeViewTest(6)"/>
             <label for="slide-item-6"><p class="icon"><i class="pi pi-thumbs-down-fill"></i></p><span>Buzón de Quejas</span></label>
              
             <!-- Item 4 -->
             <input type="radio" name="slideItem" id="slide-item-7" class="slide-toggle" (click)="changeViewTest(7)"/>
             <label for="slide-item-7"><p class="icon"><i class="pi pi-map"></i></p><span>Ubicaciones</span></label>

            <div class="clear"></div>
            
            <!-- Bar -->
            <div class="slider">
              <div class="bar"></div>
            </div>
            
          </nav>
    </div>

    <div style="padding-bottom: 30px;">
      <ng-template [ngIf]="vista === 1">
        <app-crear-cita-view></app-crear-cita-view>
      </ng-template>      
      <ng-template [ngIf]="vista === 2">
        <app-consultar-cita-view></app-consultar-cita-view>
      </ng-template>
      <ng-template [ngIf]="vista === 3">
        <app-especialidades-view></app-especialidades-view>
      </ng-template>
      <ng-template [ngIf]="vista === 4">
        <app-en-contacto-view></app-en-contacto-view>
      </ng-template>
      <ng-template [ngIf]="vista === 5">
        <app-buzon-view></app-buzon-view>
      </ng-template>
      <ng-template [ngIf]="vista === 6">
        <app-buzon-quejas-view></app-buzon-quejas-view>
      </ng-template>
      <ng-template [ngIf]="vista === 7">
        <app-ubicaciones-view></app-ubicaciones-view>
      </ng-template>
    </div>
</div>