<div class="main-page">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="principal-content">
        <div class="principal-content-header">          
             
                  <a href="" class="card">
                    <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60108448d93c73801f3e8ef6_6002086f72b72704e901e452_web-design-inspiration.jpeg" class="card__image" alt=""  />
                    <div class="card__overlay">
                      <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                        <div class="card__header-text">
                        <div class="card__header-text" style="text-align: center;">
                            <h3 class="card__title">{{titulo}}</h3>            
                        </div>
                        </div>
                      </div>
                      <p class="card__description">{{descripcion}}</p>
                    </div>
                  </a>      
                       
        </div>        
        <p-divider></p-divider>

       <div class="principal-content-cards">
        <div class="child">
            <div class="center">
                <div class="article-card">        
                  <img src="../../../../assets/{{ruta}}.svg" alt="article-cover" />
                </div>
              </div>
        </div>
      
    </div>
</div>