<div class="main-page">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="principal-content">
        <div class="principal-content-header">      
              <div class="title-component">       
                    <div class="card-title-component">
                      <div class="card-title-component-text1">{{titulo}}</div>
                      <div class="card-title-component-text2">{{descripcion}}</div>
                    </div>
                    <div class="article-card-component">
                      <img src="{{imgref}}" alt="{{descripcion}}" />
                    </div>
              </div>
        </div>
        <div class="card-guidelines" (click)="scrollToCards()">
            <div class="icon">
             <img src="../../../../assets/icons/guideline-icon.png" width="50" height="50">
            </div>
          <h1>Guidelines</h1>
        </div>     
        <p-divider></p-divider>

       <div class="principal-content-cards" #cardsSection>
        <div class="child">
            <div class="center">
                <div class="article-card">        
                  <img src="../../../../assets/{{ruta}}.svg" alt="article-cover" />
                </div>
              </div>
        </div>
      
    </div>
</div>