<p>interfaces-main-page works!</p>
<div class="main-page">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="principal-content">
        <div class="principal-content-header">          
             
                  <a href="" class="card">
                    <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60108448d93c73801f3e8ef6_6002086f72b72704e901e452_web-design-inspiration.jpeg" class="card__image" alt=""  />
                    <div class="card__overlay">
                      <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                        <div class="card__header-text">
                        <div class="card__header-text" style="text-align: center;">
                            <h3 class="card__title">Interfaces Web para plataformas de Salud Publica</h3>            
                        </div>
                        </div>
                      </div>
                      <p class="card__description">Desarrollado por Marx Y Alonso</p>
                    </div>
                  </a>      
                       
        </div>        
        <p-divider></p-divider>

       <div class="principal-content-cards">
        <div class="child">
            <a href="/interfaces-page" class="card">
                <img src="https://lh3.googleusercontent.com/mLGakWFjdX3zGBIhCUWqzjlj3gUXOY8hOed_ISzomlpNmjKWUiqCFyNGGAZFneVaK30v4GUpjn7lyIsI2Z7KPvMKrYkumzBr2nwbVe3BQKRkpam3sA=w960" class="card__image" alt=""  />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    <div class="card__header-text">
                      <h3 class="card__title">Interfaces Web De Salud</h3>            
                    </div>
                  </div>
                  <p class="card__description">Revisa Las interfaces desarolladas</p>
                </div>
              </a>      
        </div>
        
        <div class="child">
            <a href="https://github.com/PRY20232073/Demo-web-app" class="card">
                <img src="https://cdn1.vogel.de/unsafe/800x0/smart/images.vogel.de/vogelonline/bdb/1286800/1286845/original.jpg" class="card__image" alt=""  />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    <div class="card__header-text">
                      <h3 class="card__title">Accede a nuestro Repositorio</h3>            
                    </div>
                  </div>
                  <p class="card__description">Revisa el codigo fuente</p>
                </div>
              </a>      
        </div>

        <div class="child">
          <a href="https://centro-de-salud-upc.web.app" class="card">
              <img src="https://us.123rf.com/450wm/pitinan/pitinan1905/pitinan190503893/123484798-concepto-de-seguro-de-salud-m%C3%A9dico-en-el-hospital-con-una-interfaz-gr%C3%A1fica-de-icono-relacionada-con.jpg" class="card__image" alt=""  />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Accede a nuestras interfaces</h3>            
                  </div>
                </div>
                <p class="card__description">Revisa el la version web de las interfaces</p>
              </div>
            </a>      
      </div>
       </div>
       
    </div>
</div>