<div class="main-page">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="principal-content">
        <div class="principal-content-header">          
             
                  <a href="" class="card">
                    <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60108448d93c73801f3e8ef6_6002086f72b72704e901e452_web-design-inspiration.jpeg" class="card__image" alt=""  />
                    <div class="card__overlay">
                      <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                        <div class="card__header-text">
                        <div class="card__header-text" style="text-align: center;">
                            <h3 class="card__title">Interfaces Web para plataformas de Salud Publica</h3>            
                        </div>
                        </div>
                      </div>
                      <p class="card__description">Desarrollado por Marx Y Alonso</p>
                    </div>
                  </a>      
                       
        </div>        
        <p-divider></p-divider>

       <div class="principal-content-cards">
        <div>
            <a href="https://www.figma.com/file/2YjETVgQEFpZ3TylqbOjXN/Wireframes?type=design&node-id=360%3A7948&mode=design&t=5SQr57IMtdfY2M5A-1" class="card">
                <img src="https://lh3.googleusercontent.com/mLGakWFjdX3zGBIhCUWqzjlj3gUXOY8hOed_ISzomlpNmjKWUiqCFyNGGAZFneVaK30v4GUpjn7lyIsI2Z7KPvMKrYkumzBr2nwbVe3BQKRkpam3sA=w960" class="card__image" alt=""  />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    <div class="card__header-text">
                      <h3 class="card__title">Componentes en Figma</h3>            
                    </div>
                  </div>
                  <p class="card__description">Revisa Los Diversos Componentes Desarrollado en Figma </p>
                </div>
              </a>      
        </div>
        <div>
            <a href="/main-guidelines" class="card">
                <img src="https://lh3.googleusercontent.com/51moDkmVWptBFXRReuACKocS_fsOoYtfT-C78onEUKeRr7ky4l_ZsuZMK2AnE7-MPRbLzcKTAIFmNyyN7ACo0-eygmXaGeR0ItYtRcYNE8-_L8RHqkA=w960" class="card__image" alt=""  />
                <div class="card__overlay">
                  <div class="card__header">
                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                    <div class="card__header-text">
                      <h3 class="card__title">Nuestros Guidelines</h3>            
                    </div>
                  </div>
                  <p class="card__description">Revisa Nuestro guideline desarrollado exclusivamente para personas mayores de edad</p>
                </div>
              </a>   
        </div>
       
       </div>
    </div>
</div>